body {
    margin: 0;
    padding: 0;
}

.maps-container {
    display: flex;
    justify-content: center;
    gap: 45px;
}

#map2020 {
    width: 39%;
    height: 650px;
    margin-left: 80px;
}

#map2021 {
    width: 39%;
    height: 650px;
    margin-right: 80px;
}

#stops2020 {
    width: 39%;
    height: 650px;
    margin-left: 80px;
}

#stops2021 {
    width: 39%;
    height: 650px;
    margin-right: 80px;
}

.mapboxgl-popup-content h4 {
    font-weight: 500;
    font-size: 0.9em;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: rgb(80, 80, 80);
    margin-top: 0.1em;
    margin-bottom: 0em;
}

.mapboxgl-popup-content p {
    font-weight: 500;
    margin-top: 0.3em;
    margin-bottom: 0em;
}

.title {
	background-color: rgb(253, 241, 175);
	opacity: 70%;
	border-radius: 1em;
	top: 5em;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	font: .8em/.9em 'Open Sans', sans-serif;
	line-height: 2em;
	padding: 5px 10px 5px 10px;
	position: absolute;
	max-width: 24%;
	margin: 0em 2em;
	z-index: 100;
}

.title p {
    color:black;
}