body {
    /* background-image: linear-gradient(to right bottom, #079242, #00aa78, #00c0aa, #2cd5d7, #6fe8fc); */
    background-color:#ffffff;
    font-family:'Roboto Mono', monospace;
}

h1 {
    font-weight: 50;
}

p {
    font-weight: 400;
}

a {
    font-weight: 400;
}

.card-headline {
    font-weight: 800;
}

a {
    color:#ea624e;
}