body {
    /* background-image: linear-gradient(to right bottom, #079242, #00aa78, #00c0aa, #2cd5d7, #6fe8fc); */
    background-color:#ffffff;
    font-family:'Courier New', Courier, monospace'
}

h1 {
    color: black;
}

p {
    color: black;
}

a {
    color: black;
}

.card-headline {
    color: black;
}

.card-description {
    color: black;
}