body {
    /* background-image: linear-gradient(to right bottom, #079242, #00aa78, #00c0aa, #2cd5d7, #6fe8fc); */
    background-color: rgb(1, 16, 48);
}

h1 {
    color: white;
}

p {
    color: white;
}

a {
    color: white;
}

.card-headline {
    color: white;
}

.card-description {
    color: white;
}