@media (max-width:400px) {
  h2 {
  font-size: 20px;
  line-height: 90px;
  }

  p{
    font-size: 10px;
  }

  .topper{
    word-wrap: break-word;
    display: table-cell;
  }
}


body {
  margin-left: 60px;
  margin-right: 80px;
  background-color: #ffffff;
}

.topper {
  margin-left: 200px;
  margin-top: 120px;
  margin-right: 200px;
}


h1 {
  font-family: 'Eczar', serif;
  font-size: 70px;
  color: #ffa630;
  line-height: 0px;
  letter-spacing: 10px;
  opacity: 80%;
  font-style: italic;
  margin-bottom: 10px;
} 

h2 {
  font-family: 'Libre Baskerville', serif;
  font-size: 90px;
  color: #0954A9;
  margin-top: 0px;
}

h3 {
  font-family: 'Libre Baskerville', serif;
  font-size: 30px;
  color: #0954A9;
  margin-bottom: 0px;
}

p {
  font-family: 'Gentium Plus', serif;
  font-size: 20px;
}

p a {
  font-family: 'Gentium Plus', serif;
  font-size: 20px;
  text-decoration: none;
  color: #b00f4a;
}

.tabbed {
  text-indent: 10px;
}

.subhead {
  font-size: 40px;
  font-weight: bold;
  color: #b00f4a;
}

.pannel {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 80px;
}

.center_wrapper {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  max-width: 400px;
  max-height: auto;
}

button {
  font-size: 18px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  background-color: #d7e8ba;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  user-select: none;
  touch-action: manipulation;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}