body {
  background-color: #071010; padding:40px;
}
@media (prefers-color-scheme: dark) {
}
h1 {
      font-size: 80px;
      text-align: center;
      color: #02163ee9;
      background-size: contain
  }
  h2 {
    font-size: 25px;
  }
  h3 {
      text-align: center;
      font-size: 100px;
  }
  h4 {
    color: rgb(15, 0, 26);
    font-size: 
  }
  .blink-text{
      color: #000;
      font-weight: bold;
      animation: blinkingText 18s infinite;
    }
    @keyframes blinkingText{
      0%		{ color: #015243;}
      25%		{ color: #3079e8d6;}
      35%		{ color: #9b5bf4d6;}
      50%		{ color: hsl(319, 92%, 71%);}
      75%		{ color: #edcb6c;}
      100%	{ color: #00a408;}
    }