body {
    margin: 0;
    padding: 0;
}

#map {
    width: 50%;
    height: 500px;
    margin: 2em auto;
}

#mapNew {
    width: 50%;
    height: 500px;
    margin: 2em auto;
}

.center-content-maps {
    max-width: 1450px;
    margin: 0 auto;
}

}

.mapboxgl-popup-content h4 {
    font-weight: 300;
    font-size: 0.9em;
    border-width: 0px 0px 0.5px 0px;
    border-style: solid;
    border-color: rgb(80, 80, 80);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.mapboxgl-popup-content h2 {
    font-weight: 500;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}

.mapboxgl-popup-content p {
    font-weight: 300;
    margin-top: 0.3em;
    margin-bottom: 0em;
}