body {
    margin: 0;
    padding: 0;
}

#map-1990 {
    width: 60%;
    height: 650px;
    margin: 5em auto;
}

#map-2020 {
    width: 60%;
    height: 650px;
    margin: 5em auto;
}

.hero-image {
    width: 120vw;
    height: 100vh;
    margin-right: -10px;
    margin-left: -25px;
    margin-top: -80px;
    margin-bottom: 10px;
    max-width: 100vw;
    object-fit: cover;
}

.text-on-image {
    position: absolute;
    color: #fcf8eb;
    font-size: 70px;
    bottom: 150px;
    left: 60px;
    text-shadow: 2px 2px #343434;
}