body {
    margin: 0;
    padding: 0;
}

#map-1990 {
    width: 70%;
    height: 550px;
    margin: 5em auto;
}

#map-2020 {
    width: 70%;
    height: 550px;
    margin: 2em auto;
}

.hero-image {
    width: 120vw;
    height: 100vh;
    margin-right: -10px;
    margin-left: -25px;
    margin-top: -80px;
    margin-bottom: 10px;
    max-width: 100vw;
    object-fit: cover;
}

.text-on-image {
    position: absolute;
    color: #fcf8eb;
    font-size: 70px;
    bottom: 100px;
    left: 60px;
    text-shadow: 2px 2px #343434;
}

.test-legend p {
    color: black;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    right: 10px;
}

.test-legend h3 {
    padding-top: 0px;
    margin-top: 0px;
    color: black;
    font-size: 20px;
}

.test-legend div span {
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    border-width: 0px;
    margin: auto;
    display: inline-block;
    height: 16px;
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 10px;
    width: 16px;
    opacity: 100%
}