body {
    padding: 0px;
    /* background-color:  rgb(251, 251, 251); */
}

h3 {
    font-size: 20px;
    font-weight: 900;
    color: #EB614F;
}

.center-text {
    text-align: center;
}

.hero-image {
    min-width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center bottom;
}

.hero-image::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 1) 100%);
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.map-image {
    width: 70vw;
    height: auto;
    max-height: 80vh;
    margin-left: 200px;
    object-fit: cover;
    object-position: center bottom;
    opacity: 0.9;
}

.text-on-image {
    position: absolute;
    color: rgb(242, 235, 209);
    top: 280px;
    left: 60px;
    font-size: 60px;   
    word-wrap: break-word;
    text-shadow: 6px 2px rgb(0, 0, 0);
}

#text-on-image-p {
    position: absolute;
    color: rgb(242, 235, 209);
    top: 520px;
    left: 60px;
    font-size: 24px;   
    word-wrap: break-word;
    text-shadow: 2px 2px rgb(0, 0, 0);
}

#heatmap-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns:
        1fr min(850px, 100%) 1fr;
}

#heatmap-container .top-right {
    margin: 0;
    grid-column: 2;
    justify-self: end;
    font-size: 14px;
    font-weight: bolder;
}

#heatmap-container .bottom-left {
    grid-column: 2;
    margin: 0;
    font-size: 14px;
    font-weight: bolder;
}

#heatmap {
    width: 100%;
    grid-column: 1 / 4;
    position: relative;
    margin: -40px auto 0;
}

.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    word-wrap: break-word;
    opacity: 0;
}

#infographic {
    max-width: 850px;
    width: 100%;
    height: auto;
}

#maptext {
    width: 39%;
    height: 650px;
    margin-right: 80px;
}

#map-container {
    display: flex;
    justify-content: center;
    gap: 45px;
}

.title {
    background-color: rgb(253, 241, 175);
    opacity: 70%;
    border-radius: 1em;
    top: 5em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font: .8em/.9em 'Open Sans', sans-serif;
    line-height: 2em;
    padding: 5px 10px 5px 10px;
    position: absolute;
    max-width: 24%;
    margin: 0em 2em;
    z-index: 100;
}

.full-width-image {
    width: 100vw;
}