body {
    background-color: #fcf8eb;
    font-family: 'Playfair Display', serif;
    padding: 40px 200px 100px 200px;
    margin: 0 auto;
}

.hero-image {
    width: 100vw;
    height: auto;
    max-height: 100vh;
    margin-right: -200px;
    margin-left: -200px;
    margin-top: -80px;
    margin-bottom: 10px;
    object-fit: cover;
    object-position: center bottom;
}

.text-on-image {
    position: absolute;
    color: #fcf8eb;
    font-size: 58px;
    bottom: 10px;
    left: 60px;
    text-shadow: 2px 2px #343434;
}