body {
    margin: 0;
    padding: 0;
    background-color: #2E2E2E;
}

h1 {
    color: white;
}

p {
    color: white;
}

#map {
    width: 60%;
    height: 620px;
    margin: 1em auto;
}

.mapboxgl.Popup h1 {
    font-weight: 300;
    font-size: 0.9em;
    border-width: 0px 0px 0.5px 0px;
    border-style: solid;
    /* border-color: #000000; */
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: rgb(0, 0, 0);
}
.mapboxgl.Popup h2 {
    font-weight: 500;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
    color: rgb(0, 0, 0);
}
.mapboxgl.Popup h4 p {
    font-weight: 300;
    margin-top: 0.3em;
    margin-bottom: 0em;
    color: rgb(0, 0, 0);
}