body {
    margin: 0;
    padding: 0;
    background-color: #2E2E2E;
}

h1 {
    color: white;
}

.p-para {
    color: white;
}

#map {
    width: 60%;
    height: 520px;
    margin: 1em auto;
    margin-left: 70px;
}

#map-second {
    width: 60%;
    height: 520px;
    margin: 1em auto;
    margin-right: 70px;
}

.maps-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}