body {
    background-color: #fcf8eb;
    font-family: 'Playfair Display', serif;
    padding: 40px 200px 100px 200px;
    margin: 0 auto;
}

.hero-image {
    width:100vw; 
    height:90vh;
    margin-right: -200px;
    margin-left: -200px;
    margin-top: -80px;
    margin-bottom: 10px;
    max-width: 100vw; 
    object-fit: cover;
}   

.text-on-image {
    position: absolute;
    color: #fcf8eb;
    font-size: 58px;
    bottom: 100px;
    left: 60px;
    text-shadow: 2px 2px #343434;
}

.tweet-embed{
    align-items: center;
}

.img-1 {
    width: 380;
    height: 500;
    float: right;
    margin-left: 40px;
    margin-bottom: 20px;
}