body {
    background-color: #fcf8eb;
    font-family: 'Playfair Display', serif;
    padding: 40px 25px 100px 25px;
    margin: 0 auto;
}

nav {
    float: right;
    padding: 10px 8px;
    font-size: 24px;
    font-weight: bold;
}

nav a {
    color: #343434;
    text-decoration: none;
}

nav a:hover {
    color: #ea624e;
}

.center-content-index {
    max-width: 1050px;
    margin: 0 auto;
}

.center-content {
    max-width: 850px;
    margin: 0 auto;
}

.social-media-icons {
    display: flex;
    column-gap: 25px;
}

.cards-wrapper {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen and (max-width: 400px) {
    .cards-wrapper{
        flex-direction: column;
        align-content: center;
    }
}

.each-card {
    width: 320px;
}

/* Fonts */
h1 {
    color: #343434;
    font-size: 60px;
}

h2 {
    color: #343434;
    font-size: 30px;
}

h3 {
    color: #343434;
    font-size: 20px;
    line-height: 160%;
}

p {
    color: #343434;
    font-size: 18px;
    font-weight: bold;
    line-height: 160%;
}

a p {
    color: #343434;
    font-size: 16px;
    text-decoration: none;
}

a p:hover {
    color: #ea624e;
}

a {
    text-decoration: none;
    color: #343434;
    font-size: 18px;
}

a:hover {
    color: #ea624e;
}

.card-headline {
    font-size: 15px;
    font-weight: bold;
    font-family: 'Arial, sans-serif';
}

.card-description {
    font-size: 16px;
}

.highlighted-words {
    color: #ea624e;
}

.highlighted-words a {
    text-decoration: none;
    color: #ea624e;
}

.highlighted-words a:hover {
    background-color: #D3D3D3;
}

.code-block a {
    font-size: 18px;
    font-weight: lighter;
    font-family: monospace;
    background-color: #D3D3D3;
}

.code-block a:hover {
    font-size: 22px;
    font-family: monospace;
    color: #ea624e;
}

/* RESPONSIVENESS RULES */
@media only screen and (max-width: 400px) {}