body {
    background-color: rgba(181, 224, 255, 0.98);
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 125px;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 135px;
    /* animation: showup 7s infinite;
    animation: reveal 2s infinite; */
}

p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
}

.dates{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.div-main {
    text-align: left;
    margin-left: 70px;
    margin-right: 40px;
}

.first-scroll {
    text-align: center;
    margin: auto;
    padding-top:30vh;
    padding-bottom:30vh;
}

.second-scroll {
    text-align: left;
    max-width: 1000px;
    margin:0 auto;
}

.third-scroll{
    max-width: 1000px;
    margin:0 auto;
}