#g-co2_chart-mobile-artboard_333_500_,
#g-co2_chart-laptop-artboard_640_480_,
#g-co2_chart-bigscreen-artboard_1280_800_ {
  /* don't show anything!*/
  display: none;
}

@media (max-width: 399px) {
  /* tiny screens to mobile ones get this chart */
  #g-co2_chart-mobile-artboard_333_500_ {
    display: block;
  }
}

@media (min-width: 400px) and (max-width: 699px) {
  /* laptop screens get this chart */
  #g-co2_chart-laptop-artboard_640_480_ {
    display: block;
  }
}

@media (min-width: 700px) {
  /* chart for the big big screens */
  #g-co2_chart-bigscreen-artboard_1280_800_ {
    display: block;
  }
}