body {
    background-color: #fcf8eb;
    font-family: 'Playfair Display', serif;
    padding: 40px 200px 100px 200px;
    margin: 0 auto;
}

.img-1 {
    width: 250px;
    height: auto;
    float: left;
    margin-right: 40px;
    margin-bottom: 10px;
}

.img-2 {
    width: 420px;
    height: auto;
    float: right;
    margin-left: 40px;
    margin-bottom: 20px;
}

/* RESPONSIVENESS RULES */
@media (max-width: 768px) {
    body {
        padding: 40px;
    }

    h2 {
        font-size: 30px;
    }

    p {
        font-size: 22px;
    }

    .img-1 {
        width: 40%;
    }

    .img-2 {
        width: 55%;
    }
}

@media (max-width: 450px) {
    body {
        padding: 10px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    .img-1 {
        width: 100%;
    }

    .img-2 {
        width: 100%;
    }
}