.center-text {
    text-align: center;
}

.hero-image {
    width: 113vw;
    height: auto;
    max-height: 130vh;
    margin-right: -280px;
    margin-left: -200px;
    margin-top: -80px;
    margin-bottom: 10px;
    object-fit: cover;
    object-position: center bottom;
    opacity: 0.9;
}

.text-on-image {
    position: absolute;
    color: rgb(164, 223, 252);
    font-size: 80px;
    top: 480px;
    left: 60px;
    text-shadow: 6px 6px black;
}