body {
    padding: 0px;
    background-color:  rgb(250, 248, 241);
}

h3 {
    font-size: 24px;
    font-weight: 900;
    color: #EB614F;
}

.center-text {
    text-align: center;
}

.hero-image {
    min-width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center bottom;
}

.hero-image::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 1) 100%);
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.map-image {
    width: 70vw;
    height: auto;
    max-height: 80vh;
    margin-left: 200px;
    object-fit: cover;
    object-position: center bottom;
    opacity: 0.9;
}

.text-on-image {
    position: absolute;
    color: rgb(242, 235, 209);
    font-size: 90px;
    top: 250px;
    left: 60px;
    word-wrap: break-word;
    /* text-shadow: 6px 6px rgb(255, 253, 253); */
}

#heatmap {
    position: relative;
    margin: 5rem auto;
}

.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    word-wrap: break-word;
    opacity: 0;
}

#infographic {
    max-width: 850px;
    width: 100%;
    height: auto;
}